Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Source/Platformer/Characters/EnenyBase.cpp
Source/Platformer/Characters/EnenyBase.h
